name: Deploy to EC2

on:
    push:
        branches:
            - develop

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Deploy to EC2
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.DEPLOY_KEY }}
                  port: ${{ secrets.EC2_PORT }}
                  script: |
                      cd eetmad/frontend/eetmad
                      git pull origin develop
                      npm install
                      npm run build 
                      pm2 restart eetmad
